@import 'variable';
@import 'component';

:root {
  scroll-padding-top: 56px;
}

body {
  padding-top: 56px;
}

ul {
  list-style: none;
  padding: 0;
}

.navbar {
  width: 100vw;
  box-shadow: 5px 5px 10px rgba(43, 57, 70, 0.5);
  position: fixed;
  top: 0;
  z-index: 999;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../images/IMG_4373.JPG') no-repeat center / cover;
  height: 80vh;
  position: relative;

  &_txt {
    padding: 1rem;
    background-color: $title;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
  }
}

.avatar {
  height: 500px;
  object-fit: cover
}

@media (min-width: 768px) and (max-width: 992px) {
  .avatar {
    width: 100%;
  }
}

footer {
  background-color: $secondary;
}