---
import ExperienceCard from '~/components/Experience/Card.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="experience" class="container mb-14 overflow-hidden pt-6">
  <h1 class="mb-8 text-center">Work Experience & Education</h1>
  <div
    class="relative mx-auto grid max-w-[992px] gap-8 md:gap-10 lg:gap-0 lg:pt-24"
  >
    <div class="md:w-[400px] md:even:ml-auto" data-aos="fade-left">
      <ExperienceCard
        date="2022 / 07 ～ Now"
        title={[t('experience.udn.title')]}
        subTitle={t('job_title.frontend_developer')}
        list={[
          t('experience.udn.feature_1'),
          t('experience.udn.feature_2'),
          t('experience.udn.feature_3'),
          t('experience.udn.feature_4'),
        ]}
      />
    </div>
    <div class="md:w-[400px] md:even:ml-auto" data-aos="fade-right">
      <ExperienceCard
        title={[t('experience.wda.title_1'), t('experience.wda.title_2')]}
        date="2021 / 09 ~ 2022 / 03"
        list={[t('experience.wda.feature_1'), t('experience.wda.feature_2')]}
      />
    </div>
    <div class="md:w-[400px] md:even:ml-auto" data-aos="fade-left">
      <ExperienceCard
        date="2020 / 07 ~ 2021 / 02"
        title={[t('experience.ie.title')]}
        subTitle={t('job_title.mechanical_engineer')}
        list={[
          t('experience.ie.feature_1'),
          t('experience.ie.feature_2'),
          t('experience.ie.feature_3'),
        ]}
      />
    </div>
    <div class="md:w-[400px] md:even:ml-auto" data-aos="fade-right">
      <ExperienceCard
        date="2016 / 09 ~ 2020 / 01"
        title={[t('experience.ntust.title_1'), t('experience.ntust.title_2')]}
        list={[
          t('experience.ntust.feature_1'),
          t('experience.ntust.feature_2'),
          t('experience.ntust.feature_3'),
        ]}
      />
    </div>

    <div
      class="absolute left-0 right-0 top-0 mx-auto hidden h-full w-1 bg-secondary lg:block"
    >
      <div
        class="absolute top-0 h-12 w-1 origin-top -rotate-[30deg] bg-secondary"
      >
      </div>
    </div>
  </div>
</section>
