---
import { Image } from 'astro:assets';
import iconBurger from '~/assets/images/icons/burger.svg';
import NavbarLink from '~/components/Navbar/Link.astro';
---

<nav
  id="navbar"
  class="fixed left-0 top-0 z-40 h-14 w-full bg-primary bg-opacity-0 transition-all duration-500"
>
  <div class="container flex h-full items-center">
    <button id="logo" class="shrink-0 select-none text-xl">&lt; / &gt;</button>

    <div
      id="menu"
      class="absolute left-0 top-[95%] grid w-full grid-rows-[0fr] overflow-hidden bg-primary shadow-md transition-[grid-template-rows] md:static md:h-full md:grid-rows-[1fr] md:bg-transparent md:shadow-none"
    >
      <div class="min-h-0">
        <div
          class="flex flex-col gap-2 px-4 py-4 text-xl md:flex-row md:justify-end md:gap-4 md:px-0"
        >
          <NavbarLink url="#about">About</NavbarLink>
          <NavbarLink url="#skills">Skills</NavbarLink>
          <NavbarLink url="#experience">Experience</NavbarLink>
          <NavbarLink url="#projects">Projects</NavbarLink>
        </div>
      </div>
    </div>

    <button id="menuBtn" class="ml-auto w-10 md:hidden">
      <Image src={iconBurger} alt="menu-btn" />
    </button>
  </div>
</nav>

<script>
  import { getHTMLElement } from '~/utils';

  /**
   * toggle navbar style
   */
  const navbarEl = getHTMLElement('#navbar');
  const shadowClass = 'shadow-[0_0_6px_6px_rgba(255,74,87,0.3)]';

  const toggleNavbarClass = (show: boolean) => {
    if (show) {
      navbarEl.classList.add(shadowClass);
      navbarEl.classList.remove('bg-opacity-0');
      return;
    }

    navbarEl.classList.remove(shadowClass);
    navbarEl.classList.add('bg-opacity-0');
  };

  /**
   * toggle navbar style when scroll
   */
  const scrollToggleNavbarStyle = () => toggleNavbarClass(window.scrollY > 10);
  scrollToggleNavbarStyle();
  window.addEventListener('scroll', scrollToggleNavbarStyle);

  /**
   * toggle mobile menu when clicking menuBtn
   */
  const menuBtnEl = getHTMLElement<HTMLButtonElement>('#menuBtn');
  const menuEl = getHTMLElement<HTMLButtonElement>('#menu');

  menuBtnEl.addEventListener('click', () => {
    menuEl.classList.toggle('!grid-rows-[1fr]');

    if (menuEl.classList.contains('!grid-rows-[1fr]')) {
      toggleNavbarClass(true);
    }
  });

  /**
   * hide menu when scrolling
   */

  window.addEventListener('scroll', () =>
    menuEl.classList.remove('!grid-rows-[1fr]'),
  );

  /**
   * scroll to top when click logo
   */
  const logoEl = getHTMLElement('#logo');
  logoEl.addEventListener('click', () =>
    scrollTo({ top: 0, behavior: 'smooth' }),
  );
</script>
