---
import { Image } from 'astro:assets';
import iconBurger from '~/assets/images/icons/burger.svg';
import NavbarLink from '~/components/Navbar/Link.astro';
---

<nav
  id="navbar"
  class="fixed left-0 top-0 z-40 h-14 w-full bg-primary bg-opacity-0 transition-[box_shadow] duration-500"
>
  <div class="container flex h-full items-center">
    <span class="shrink-0 select-none text-xl">&lt; / &gt;</span>

    <div
      id="menu"
      class="absolute left-0 top-[95%] grid w-full grid-rows-[0fr] overflow-hidden bg-primary shadow-md transition-[grid-template-rows] md:static md:h-full md:grid-rows-[1fr] md:bg-transparent md:shadow-none"
    >
      <div class="min-h-0">
        <div
          class="flex flex-col gap-2 px-4 py-4 text-xl md:flex-row md:justify-end md:gap-4 md:px-0"
        >
          <NavbarLink url="#">About</NavbarLink>
          <NavbarLink url="#">Skills</NavbarLink>
          <NavbarLink url="#">Experience</NavbarLink>
          <NavbarLink url="#">Projects</NavbarLink>
        </div>
      </div>
    </div>

    <button id="menuBtn" class="ml-auto w-10 md:hidden">
      <Image src={iconBurger} alt="menu-btn" />
    </button>
  </div>
</nav>

<script>
  import { getHTMLElement } from '~/utils';

  /**
   * toggle mobile menu
   */

  const menuBtnEl = getHTMLElement<HTMLButtonElement>('#menuBtn');
  const menuEl = getHTMLElement<HTMLButtonElement>('#menu');

  menuBtnEl.addEventListener('click', () => {
    menuEl.classList.toggle('!grid-rows-[1fr]');
  });

  /**
   * navbar add shadow after scroll down
   */

  const navbarEl = getHTMLElement('#navbar');
  window.addEventListener('scroll', () => {
    if (window.scrollY < 10) {
      navbarEl.classList.remove('shadow-md');
      navbarEl.classList.add('bg-opacity-0');
      return;
    }

    navbarEl.classList.remove('bg-opacity-0');
    navbarEl.classList.add('shadow-md');
  });
</script>
