---
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import imageUdnLibrary from '~/assets/images/projects/udn-library.jpg';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="projects" class="container mb-14 pt-6 text-lg">
  <h1 class="mb-8 text-center">Work Projects</h1>
  <div
    class="mx-auto max-w-[992px] bg-primary-light p-6 shadow-[0_0_15px_rgba(0,0,0,0.3)] lg:p-12"
  >
    <div class="mb-4">
      <Image
        class="h-full object-cover"
        src={imageUdnLibrary}
        alt="udn-library"
      />
    </div>
    <h3 class="mb-2 font-semibold text-secondary">
      {t('project.udn_library.title')}
    </h3>
    <p class="mb-6 text-lg">{t('project.udn_library.description')}</p>

    <div class="mb-12 grid gap-4 lg:grid-cols-2">
      <div>
        <h4 class="mb-2 bg-secondary py-0.5 text-center">
          {t('project.features')}
        </h4>
        <ul class="list-disc pl-6 pr-2">
          <li>{t('project.udn_library.feature_1')}</li>
          <li>{t('project.udn_library.feature_2')}</li>
          <li>{t('project.udn_library.feature_3')}</li>
          <li>{t('project.udn_library.feature_4')}</li>
          <li>{t('project.udn_library.feature_5')}</li>
          <li>{t('project.udn_library.feature_6')}</li>
        </ul>
      </div>
      <div>
        <h4 class="mb-2 bg-secondary py-0.5 text-center">
          {t('project.highlights')}
        </h4>
        <ul class="list-disc pl-6 pr-2">
          <li>{t('project.udn_library.highlight_1')}</li>
          <li>{t('project.udn_library.highlight_2')}</li>
          <li>{t('project.udn_library.highlight_3')}</li>
          <li>{t('project.udn_library.highlight_4')}</li>
          <li>{t('project.udn_library.highlight_5')}</li>
        </ul>
      </div>
    </div>

    <div class="text-center">
      <a
        href="https://reading.udn.com/udnlib/reading"
        class="inline-block border-4 border-secondary px-8 py-4 text-xl font-bold transition-colors hover:bg-secondary"
        target="_blank">{t('project.explore')} ></a
      >
    </div>
  </div>
</section>
