---
import '~/style.css';
import Navbar from '~/components/Navbar.astro';
import Footer from '~/components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Hello World!</title>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://link1515.github.io/" />
    <meta property="og:title" content="I’m 林意倫 LIN, YI-LUN" />
    <meta
      property="og:description"
      content="我是一位熱愛網站開發的工程師，注重代碼品質和最佳實踐，並且樂於學習和探索新的技術，以保持在不斷演進的科技環境中的競爭力，專業領域主要包括前端和後端技術。"
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />

    <script>
      import AOS from 'aos';
      import 'aos/dist/aos.css';

      AOS.init({
        duration: 600,
        offset: 200,
        once: true,
      });
    </script>
  </body>
</html>
